# Compiler
out/
cache/
broadcast/

# Node
node_modules/

# Hardhat
cache_hardhat/
artifacts/
coverage/
coverage.json
typechain-types/
typechain-types.d.ts

# Env
.env
.env.local

# IDE
.idea/
*.swp
*.swo
